{% block title %}{% endblock %}

{% block body %}
    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">Latest <span class="text-primary">Articles</span> From Our Blog Post</h1>
        </div>
        <div class="row g-5">
        {% for blogposts in blogpost %}
            <div class="col-lg-4 col-md-6">
                <div class="bg-light">
                    <h4 class="text-uppercase mb-3 text-center pt-2">{{ blogposts.titre}}</h4>
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-2" src="img/user.jpg" width="35" height="35" alt="">
                                <span>John Doe</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ms-3"><i class="far fa-calendar-alt text-primary me-2"></i>{{ blogposts.createAt|date('d/m/Y')}}</span>
                            </div>
                        </div>
                        <p class="fs-5 mb-0 text-dark me-2">
                            {{ blogposts.contenu|u.truncate(200, '...', false)}}
                        </p>
                        <a class="text-uppercase fw-bold" href="">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <!-- Blog End -->
    
    
{% endblock %}