{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="bg-image" 
            style="background-image: url(/img/newconstruction.jpg);
            height: 100vh">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 d-flex"> 
                        <blockquote class="mt-5 justify-content-center text-align-center">
                            <p class="h4 text-white">
                                {{ peintre.aPropos}}
                            </p>
                            <footer class="blockposte-footer text-white-50 mb-0">
                                {{peintre.prenom}} {{peintre.nom}}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
